@*<div class="navbar">
    <button type="button" class="btn btn-navbar-highlight btn-large btn-primary" data-toggle="collapse" data-target=".nav-collapse">
        Danh mục <span class="icon-chevron-down icon-white"></span>
    </button>
    <div class="nav-collapse collapse">
        <ul class="nav nav-pills ddmenu">
            <li>@Html.ActionLink("Trang chủ", "Index", "Home", null, null)</li>
            <li>
                <a href="/Article/Detail/">Giới thiệu</a>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle">Cho thuê <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/Article/ListInCate/">Thuê thiết bị vận tải&nbsp;&raquo;</a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a href="/Article/ListInCate/112/xe-5-8-tan">Xe 5 - 8 tấn</a></li>
                            <li><a href="/Article/ListInCate/113/xe-3-chan">Xe 3 chân</a></li>
                            <li><a href="/Article/ListInCate/114/xe-4-chan">Xe 4 chân</a></li>
                            <li><a href="/Article/ListInCate/115/xe-dau-keo">Xe đầu kéo</a></li>
                            <li><a href="/Article/ListInCate/116/xe-tec-cho-xang-dau">Xe chở xăng dầu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/Article/ListInCate/">Thuê thiết bị công trình&nbsp;&raquo;</a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a href="/Article/ListInCate/118/may-xuc">Máy xúc</a></li>
                            <li><a href="/Article/ListInCate/119/may-ui">Máy ủi</a></li>
                            <li><a href="/Article/ListInCate/120/may-lu">Máy lu</a></li>
                            <li><a href="/Article/ListInCate/121/may-san">Máy san</a></li>
                        </ul>
                    </li>

                    <li><a href="/Article/ListInCate/">Phụ tùng máy công trình</a></li>
                    <li><a href="/Article/ListInCate/">Xăng dầu&nbsp;&raquo;</a></li>
                </ul>
            </li>


            <li>
                <a href="/Article/ListInCate/">Tin tức</a>
            </li>
            <li>
                <a href="/Article/ListInCate/">Tuyển dụng</a>
            </li>
            <li>
                <a href="/Article/Detail/">Liên hệ</a>
            </li>
        </ul>
    </div>
</div>*@

