.main-header .top-menu{
    background-color: #367fa9;
    border-bottom: 0 solid transparent;
    color: #ffffff;
    display: block;
    float: left;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
    width: auto;
}
.main-header .top-menu a {
    color: #3c8dbc;
    text-decoration: none;
    background-color: transparent;
}